<div class="container section-team">
    <div class="heading-base heading-base--medium text-center">Команда профессионалов</div>
    <div class="row team">
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="/uploads/assets/images/team_1.jpg" srcset="/uploads/assets/images/team_1@2x.jpg 2x" alt="">
                    </div>
                    <div class="team__item-name">Яковлева<br>Анна Сергеевна</div>
                    <div class="team__item-post">Генеральный директор</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:84842400088">8 (484) 240-00-88</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:kvartirion@mail.ru">kvartirion@mail.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="/uploads/assets/images/team_2.jpg" srcset="/uploads/assets/images/team_2@2x.jpg 2x" alt="">
                    </div>
                    <div class="team__item-name">Галанова<br>Анна</div>
                    <div class="team__item-post">Руководитель отдела</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:89308456151">8 (930) 845-61-51</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:kvartirion6151@yandex.ru">kvartirion6151@yandex.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="/uploads/assets/images/team_3.jpg" srcset="/uploads/assets/images/team_3@2x.jpg 2x" alt="">
                    </div>
                    <div class="team__item-name">Голубкова<br>Елизавета Юрьевна</div>
                    <div class="team__item-post">Директор по продажам</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:+74842400088">+7 (4842) 40-00-88</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:kvartirion@mail.ru">kvartirion@mail.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="/uploads/assets/images/team_4.jpg" srcset="/uploads/assets/images/team_4@2x.jpg 2x" alt="">
                    </div>
                    <div class="team__item-name">Попова <br>Любовь</div>
                    <div class="team__item-post">Риэлтор</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:89208898700">8 (920) 889-87-00</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:kvartirion98700@yandex.ru">kvartirion98700@yandex.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="/uploads/assets/images/team_5.jpg" srcset="/uploads/assets/images/team_5@2x.jpg 2x" alt="">
                    </div>
                    <div class="team__item-name">Урсу <br>Александр</div>
                    <div class="team__item-post">Риэлтор</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:89208891800">8 (920) 889-18-00</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:kvartirion1800@yandex.ru">kvartirion1800@yandex.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="/uploads/assets/images/team_6.jpg" srcset="/uploads/assets/images/team_6@2x.jpg 2x" alt="">
                    </div>
                    <div class="team__item-name">Соломкин<br>Михаил</div>
                    <div class="team__item-post">Риэлтор</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:89208760100">8 (920) 876-01-00</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:kvartirion60100@yandex.ru">kvartirion60100@yandex.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="/uploads/assets/images/team_7.jpg" srcset="/uploads/assets/images/team_7@2x.jpg 2x" alt="">
                    </div>
                    <div class="team__item-name">Ставицкий<br>Игорь</div>
                    <div class="team__item-post">Риэлтор</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:89308494500">8 (930) 849-45-00</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:kvartirion4500@yandex.ru">kvartirion4500@yandex.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="/uploads/assets/images/team_8.jpg" srcset="/uploads/assets/images/team_8@2x.jpg 2x" alt="">
                    </div>
                    <div class="team__item-name">Мелех<br>Анастасия</div>
                    <div class="team__item-post">Риэлтор</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:89206108700">8 (920) 610-87-00</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:kvartirion08700@yandex.ru">kvartirion08700@yandex.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="/uploads/assets/images/team_9.jpg" srcset="/uploads/assets/images/team_9@2x.jpg 2x" alt="">
                    </div>
                    <div class="team__item-name">Бочаров<br>Федор</div>
                    <div class="team__item-post">Риэлтор</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:89208992800">8 (920) 899-28-00</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:kvartirion2800@yandex.ru">kvartirion2800@yandex.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="/uploads/assets/images/team_10.jpg" srcset="/uploads/assets/images/team_10@2x.jpg 2x" alt="">
                    </div>
                    <div class="team__item-name">Чернецова<br>Юлия Леонидовна</div>
                    <div class="team__item-post">Юрист</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:89109142399">8 (910) 914-23-99</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:kvartirion2399@yandex.ru">kvartirion2399@yandex.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="/uploads/assets/images/team_11.jpg" srcset="/uploads/assets/images/team_11@2x.jpg 2x" alt="">
                    </div>
                    <div class="team__item-name">Слободяник<br>Анна</div>
                    <div class="team__item-post">Юрист</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:89621708524">8 (962) 170-85-24</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:kvartirion8524@yandex.ru">kvartirion8524@yandex.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
            <div class="team__item">
                <div class="team__item-main">
                    <div class="team__item-photo">
                        <img src="/uploads/assets/images/team_12.jpg" srcset="/uploads/assets/images/team_12@2x.jpg 2x" alt="">
                    </div>
                    <div class="team__item-name">Плетнев<br>Андрей</div>
                    <div class="team__item-post">Риэлтор</div>
                </div>
                <div class="team__item-details">
                    <div class="card-informers__item"><span class="icon-tel_white card-informers__item-icon"></span>
                        <a href="tel:89208901040">8 (920) 890-10-40</a>
                    </div>
                    <div class="card-informers__item"><span class="icon-mail_white card-informers__item-icon"></span>
                        <a href="mailto:kvartirion1040@yandex.ru">kvartirion1040@yandex.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a class="current" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a><span>...</span>
    </div>
</div>
<div class="location">
    <div class="container">
        <div class="heading-base heading-base--medium text-center">Ждем вас в гости!</div>
        <div class="row">
            <div class="col col-md-6">
                <div class="location__gallery">
                    <div>
                        <img src="/uploads/assets/images/office.jpg" alt="">
                    </div>
                    <div>
                        <img src="/uploads/assets/images/office.jpg" alt="">
                    </div>
                    <div>
                        <img src="/uploads/assets/images/office.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="location__map"></div>
            </div>
        </div>
    </div>
</div>
<div class="testimonials">
    <div class="container">
        <div class="row testimonials__top">
            <div class="col-md-6 offset-md-3">
                <div class="heading-base heading-base--medium text-center">Отзывы о нас</div>
            </div>
            <div class="col-md-3 text-right-md">
                <a class="btn btn-pink" href="#modal-add-testimonial" data-fancybox>Оставить отзыв</a>
            </div>
        </div>
        <div class="section-title">15 отзывов </div>
        <div>
            <div class="testimonials__item">
                <div class="testimonials__item-info">
                    <div class="testimonials__item-name">Екатерина</div>
                    <div class="testimonials__item-date">06.2021</div>
                    <div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_gray"></div>
                    </div>
                </div>
                <div class="testimonials__item-text">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                </div>
            </div>
            <div class="testimonials__item">
                <div class="testimonials__item-info">
                    <div class="testimonials__item-name">Екатерина</div>
                    <div class="testimonials__item-date">06.2021</div>
                    <div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_gray"></div>
                    </div>
                </div>
                <div class="testimonials__item-text">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                </div>
            </div>
            <div class="testimonials__item">
                <div class="testimonials__item-info">
                    <div class="testimonials__item-name">Екатерина</div>
                    <div class="testimonials__item-date">06.2021</div>
                    <div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_gray"></div>
                    </div>
                </div>
                <div class="testimonials__item-text">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                </div>
            </div>
            <div class="testimonials__item">
                <div class="testimonials__item-info">
                    <div class="testimonials__item-name">Екатерина</div>
                    <div class="testimonials__item-date">06.2021</div>
                    <div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_gray"></div>
                    </div>
                </div>
                <div class="testimonials__item-text">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                </div>
            </div>
            <div class="testimonials__item">
                <div class="testimonials__item-info">
                    <div class="testimonials__item-name">Екатерина</div>
                    <div class="testimonials__item-date">06.2021</div>
                    <div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_blue"></div>
                        <div class="icon-star_gray"></div>
                    </div>
                </div>
                <div class="testimonials__item-text">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
                </div>
            </div>
        </div>
        <div class="pagination">
            <a href="#">1</a>
            <a class="current" href="#">2</a>
            <a href="#">3</a><span>...</span>
        </div>
    </div>
</div>
