<div class="fancybox-is-hidden popup popup-callback popup-callback--mod-corners" id="modal-add-testimonial">
    <div class="heading-base heading-base--medium">Оставить отзыв</div>
    <p class="form-desc">Ваша честная оценка поможет <br>нам стать лучше!</p>
    <input class="ui-input" type="text" placeholder="Ваше имя">
    <input class="ui-input" type="text" placeholder="Ваша фамилия">
    <input class="ui-input" type="tel" placeholder="Телефон">
    <input class="ui-input" type="email" placeholder="E-mail">
    <textarea class="ui-textarea" placeholder="Ваш текст"></textarea>
    <div>
        <label class="ui-label ui-label--small">Ваша оценка</label>
        <div class="rateit" aria-valuenow="0" data-rateit-mode="font" data-rateit-resetable="false"></div>
    </div>
    <div class="popup-callback__bottom">
        <div class="row flex-md-row-reverse">
            <div class="col-md-6">
                <img src="/uploads/assets/images/robot.png" alt="">
            </div>
            <div class="col-md-6">
                <input class="btn btn-default" type="submit" value="Отправить">
            </div>
        </div>
    </div>
</div>
