<!DOCTYPE html>
<html class="is-page-default" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Site title">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    {{ meta.meta() }}
    {{ siteInfo.favicon() }}
    <title>{{ title_for_layout }} - Квартирион</title>
    <link rel="stylesheet" href="/uploads/assets/css/app.min.css">
    {{ _view.fetch('css')}}
    <link rel="stylesheet" href="/uploads/assets/css/main.css">
</head>
<body><div class="app">
