<div class="fancybox-is-hidden popup popup-favorites" id="popup-favorites">
    <div class="popup-carousel">
        <div class="cards__item cards__item--mod-large">
            <div class="cards__item-section">
                <div class="cards__item-top cards__item-top--mod">
                    <div class="heading-base heading-base--medium">Избранное</div>
                    <div>
                        <a class="btn btn-card active" href="#"><span class="icon-heart_white"></span></a>
                        <a class="btn btn-card" href="#"><span class="icon-alarm_white"></span></a>
                    </div>
                </div>
                <div class="cards__item-gallery">
                    <div>
                        <img src="images/room.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/room.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/room.jpg" alt="">
                    </div>
                </div>
                <div class="cards__item-desc">
                    <div class="row">
                        <div class="col col-12 col-md-6">
                            <div class="cards__item-info">
                                <strong>Уютная однушка в центре</strong>
                            </div>
                        </div>
                        <div class="col col-12 col-md-6">
                            <div class="price"><span class="price__main">23 000 000 </span><span class="price__currency">₽</span></div>
                        </div>
                    </div>
                    <div class="cards__item-info row">
                        <div class="col col-12 col-md-6">Калуга, <br>ул. Спартака, д. 15</div>
                        <div class="col col-12 col-md-6 price"><span class="price__main">50 000 </span><span class="price__currency">₽</span><span class="price__footage"> м²</span></div>
                    </div>
                </div>
            </div>
            <div class="cards__item-details">
                <div class="card-informers">
                    <div class="card-informers__item"><span class="icon-stages_white card-informers__item-icon"></span><span>Этаж
										<strong>15/17</strong></span></div>
                    <div class="card-informers__item"><span class="icon-bed_white card-informers__item-icon"></span><span>
										<strong>3</strong> комнаты</span></div>
                    <div class="card-informers__item"><span class="icon-house_white card-informers__item-icon"></span><span>
										<strong>86</strong>м²</span></div>
                </div>
                <div class="cards__item-details-btn">
                    <a class="btn btn-default btn-default--medium" href="favorites.html">Перейти в избранное </a>
                </div>
            </div>
        </div>
        <div class="cards__item cards__item--mod-large">
            <div class="cards__item-section">
                <div class="cards__item-top cards__item-top--mod">
                    <div class="heading-base heading-base--medium">Избранное</div>
                    <div>
                        <a class="btn btn-card active" href="#"><span class="icon-heart_white"></span></a>
                        <a class="btn btn-card" href="#"><span class="icon-alarm_white"></span></a>
                    </div>
                </div>
                <div class="cards__item-gallery">
                    <div>
                        <img src="images/room.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/room.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/room.jpg" alt="">
                    </div>
                </div>
                <div class="cards__item-desc">
                    <div class="row">
                        <div class="col col-12 col-md-6">
                            <div class="cards__item-info">
                                <strong>Уютная однушка в центре</strong>
                            </div>
                        </div>
                        <div class="col col-12 col-md-6">
                            <div class="price"><span class="price__main">23 000 000 </span><span class="price__currency">₽</span></div>
                        </div>
                    </div>
                    <div class="cards__item-info row">
                        <div class="col col-12 col-md-6">Калуга, <br>ул. Спартака, д. 15</div>
                        <div class="col col-12 col-md-6 price"><span class="price__main">50 000 </span><span class="price__currency">₽</span><span class="price__footage"> м²</span></div>
                    </div>
                </div>
            </div>
            <div class="cards__item-details">
                <div class="card-informers">
                    <div class="card-informers__item"><span class="icon-stages_white card-informers__item-icon"></span><span>Этаж
										<strong>15/17</strong></span></div>
                    <div class="card-informers__item"><span class="icon-bed_white card-informers__item-icon"></span><span>
										<strong>3</strong> комнаты</span></div>
                    <div class="card-informers__item"><span class="icon-house_white card-informers__item-icon"></span><span>
										<strong>86</strong>м²</span></div>
                </div>
                <div class="cards__item-details-btn">
                    <a class="btn btn-default btn-default--medium" href="favorites.html">Перейти в избранное </a>
                </div>
            </div>
        </div>
    </div>
</div>
