<div class="fancybox-is-hidden popup popup-callback" id="order_callback">
    <div class="heading-base heading-base--medium">Оставить заявку</div>
    {{ croogo_region alias = "twig_order_callback" }}
</div>
