{#not use#}
<div class="fancybox-is-hidden popup popup-notifications" id="popup-notifications">
    <div class="heading-base heading-base--medium">Оповещения</div>
    <div class="popup-notifications__inner styled-scrollbar">
        <div class="notification-item">
            <label class="btn-check">
                <input type="checkbox" checked hidden><span class="btn-check__icon"><span class="icon icon-check"></span></span>
            </label>
            <a class="notification" href="#popup-advt" data-fancybox>
                <div class="notification__date">2 часа назад</div>
                <div class="notification__event">Изменение цены</div>
                <div class="notification__title">1-комнатная квартира</div>
                <div class="row notification__info">
                    <div class="col-md-6">1-комнатная квартира</div>
                    <div class="col-md-6 text-right">Калуга,<br>ул. Манежная, д. 20</div>
                </div>
            </a>
        </div>
        <div class="notification-item">
            <label class="btn-check">
                <input type="checkbox" hidden><span class="btn-check__icon"><span class="icon icon-check"></span></span>
            </label>
            <a class="notification" href="#popup-advt" data-fancybox>
                <div class="notification__date">2 часа назад</div>
                <div class="notification__event">Изменение цены</div>
                <div class="notification__title">1-комнатная квартира</div>
                <div class="row notification__info">
                    <div class="col-md-6">1-комнатная квартира</div>
                    <div class="col-md-6 text-right">Калуга,<br>ул. Манежная, д. 20</div>
                </div>
            </a>
        </div>
        <div class="notification-item">
            <label class="btn-check">
                <input type="checkbox" hidden><span class="btn-check__icon"><span class="icon icon-check"></span></span>
            </label>
            <a class="notification" href="#popup-advt" data-fancybox>
                <div class="notification__date">2 часа назад</div>
                <div class="notification__event">Изменение цены</div>
                <div class="notification__title">1-комнатная квартира</div>
                <div class="row notification__info">
                    <div class="col-md-6">1-комнатная квартира</div>
                    <div class="col-md-6 text-right">Калуга,<br>ул. Манежная, д. 20</div>
                </div>
            </a>
        </div>
        <div class="notification-item">
            <label class="btn-check">
                <input type="checkbox" hidden><span class="btn-check__icon"><span class="icon icon-check"></span></span>
            </label>
            <a class="notification" href="#popup-advt" data-fancybox>
                <div class="notification__date">2 часа назад</div>
                <div class="notification__event">Изменение цены</div>
                <div class="notification__title">1-комнатная квартира</div>
                <div class="row notification__info">
                    <div class="col-md-6">1-комнатная квартира</div>
                    <div class="col-md-6 text-right">Калуга,<br>ул. Манежная, д. 20</div>
                </div>
            </a>
        </div>
        <div class="notification-item">
            <label class="btn-check">
                <input type="checkbox" hidden><span class="btn-check__icon"><span class="icon icon-check"></span></span>
            </label>
            <a class="notification" href="#popup-advt" data-fancybox>
                <div class="notification__date">2 часа назад</div>
                <div class="notification__event">Изменение цены</div>
                <div class="notification__title">1-комнатная квартира</div>
                <div class="row notification__info">
                    <div class="col-md-6">1-комнатная квартира</div>
                    <div class="col-md-6 text-right">Калуга,<br>ул. Манежная, д. 20</div>
                </div>
            </a>
        </div>
        <div class="notification-item">
            <label class="btn-check">
                <input type="checkbox" hidden><span class="btn-check__icon"><span class="icon icon-check"></span></span>
            </label>
            <a class="notification" href="#popup-advt" data-fancybox>
                <div class="notification__date">2 часа назад</div>
                <div class="notification__event">Изменение цены</div>
                <div class="notification__title">1-комнатная квартира</div>
                <div class="row notification__info">
                    <div class="col-md-6">1-комнатная квартира</div>
                    <div class="col-md-6 text-right">Калуга,<br>ул. Манежная, д. 20</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row popup-notifications__bottom">
        <div class="col-md-2">
            <label class="btn btn-items btn-items--check notifications-check-all">
                <input type="checkbox" hidden><span class="btn-items__inner"><span class="icon-rect"><span class="icon-check"></span></span><span class="icon-expand-down_blue"></span></span><span class="btn-items__tooltip">Выбрать все</span>
            </label>
        </div>
        <div class="col-md-8 text-center">
            <a class="btn btn-default" href="#">Отметить как прочитанные </a>
        </div>
    </div>
</div>
