</div>
<script src="/uploads/assets/js/jquery-3.3.1.min.js"></script>
<script src="/uploads/assets/js/plugins.min.js"></script>
<script src="/uploads/assets/js/app.min.js"></script>
{{ _view.fetch('script') }}
<script src="/agency/js/jquery.mask.min.js?v=146"></script>
{{ html.script('/libraries/lazyload/lazyload.min.js') }}
{{ html.script('/libraries/lazyload/lazyload_init.js') }}
{{ html.script('Favorites.favorite_site') }}
<script src="/uploads/assets/js/main.js"></script>
<script src="/uploads/assets/js/main2.js"></script>
</body></html>
