<div class="fancybox-is-hidden popup popup-callback" id="popup-callback">
    <div class="heading-base heading-base--medium">Обратный звонок</div>
    <p class="form-desc">Введите контактные данные<br>и наш менеджер свяжется с вами<br>в ближайшее время</p>
    <input class="ui-input" type="text" placeholder="Ваше имя">
    <input class="ui-input" type="tel" placeholder="Ваш номер телефона">
    <label class="ui-checkbox">
        <input type="checkbox" checked hidden><span class="ui-checkbox__icon"><span class="icon-check_dark"></span></span><span class="ui-checkbox__text">заполняя данную форму, <br>вы даете
						<a href="#popup-policy" data-fancybox>согласие на обработку ваших данных</a></span>
    </label>
    <div class="popup-callback__bottom">
        <input class="btn btn-default" type="submit" value="Отправить">
    </div>
</div>
