<div class="col-12" id="categoryParams">
    {% set fieldName = {
        '0': {'fieldName': 'data_int', 'type': 'text', 'class': 'ui-input ui-input--theme-white'},
        '1': {'fieldName': 'data_str', 'type': 'text', 'class': 'ui-input ui-input--theme-white'},
        '2': {'fieldName': 'data_int', 'type': 'select', 'class': ''}
    } %}
    {% for categoryParam in categoryParams|batch(2) %}
        <div class="row">
            {% for index,categoryParamItem in categoryParam %}
                <div class="col col-12 col-lg-6">
                    {{ form.hidden('CategoryParamValue.'~index~'.category_param_id', {'value': categoryParamItem.CategoryParam.id}) }}
                    {{ form.input('CategoryParamValue.'~index~'.'~ attribute(fieldName[categoryParamItem.CategoryParamType.type], 'fieldName'), {
                        'type': attribute(fieldName[categoryParamItem.CategoryParamType.type], 'type'),
                        'label': {'class': 'ui-label', 'text': complexCategory.getLabel(categoryParamItem)},
                        'options': complexCategory.getOptions(categoryParamItem),
                        'empty': '-------',
                        'class': attribute(fieldName[categoryParamItem.CategoryParamType.type], 'class')
                    }) }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
