<div class="fancybox-is-hidden popup popup-policy" id="popup-policy">
    <div class="heading-base heading-base--medium">Согласие на обработку<br>персональных данных</div>
    <div class="policy-wrapper styled-scrollbar">
        {{ croogo_region alias = "twig_policy" }}
    </div>
</div>
