<div class="col col-12 col-lg-8 popup-public__col-gray offset-top-mod" id="categoryParams">
    <div class="row">
        <div class="col col-12 col-lg-6">
            <div>
                <label class="ui-label">Комнат в квартире *</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Площадь, кв.м. *</label>
                <div>
                    <input class="ui-input ui-input--theme-white" type="text">
                </div>
            </div>
            <div>
                <label class="ui-label">Площадь, кв.м. *</label>
                <div>
                    <input class="ui-input ui-input--theme-white" type="text">
                </div>
            </div>
            <div>
                <label class="ui-label">Площадь кухни, кв.м.</label>
                <div>
                    <input class="ui-input ui-input--theme-white" type="text">
                </div>
            </div>
            <div>
                <label class="ui-label">Этаж *</label>
                <div>
                    <input class="ui-input ui-input--theme-white" type="text">
                </div>
            </div>
            <div>
                <label class="ui-label">Этажность *</label>
                <div>
                    <input class="ui-input ui-input--theme-white" type="text">
                </div>
            </div>
            <div>
                <label class="ui-label">Материал стен *</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Тип комнат</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Состояние</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Ремонт</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Лифт пассажирский</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Лифт грузовой</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Высота потолков м. </label>
                <div>
                    <input class="ui-input ui-input--theme-white" type="text">
                </div>
            </div>
            <div>
                <label class="ui-label">Вид из окна</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Санузел</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col col-12 col-lg-6">
            <div>
                <label class="ui-label">Балкон</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Угловая</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Кадастровый номер</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Год постройки</label>
                <div>
                    <input class="ui-input ui-input--theme-white" type="text">
                </div>
            </div>
            <div>
                <label class="ui-label">Сообщения от Авито</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Возможность ипотеки</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Ставка аукциона Cian</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Доля в квартире</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Онлайн показ</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Статус Недвижимости Авито</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Отопление</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
            <div>
                <label class="ui-label">Видно только агентам - Циан</label>
                <div class="select-theme-white">
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 99</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
